.container{
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 100vh;
  width: 100%;
}
.main{
  
}
#counter{
  display: flex;
  justify-content: center;
  align-items: center ;
  font-size: 100px;
}
#Increase{
  font-size: 50px;
  border-radius:10px ;
}
#decrease{
  font-size: 50px;
  border-radius:10px ;
}
#reset{
  font-size: 50px;
  border-radius:10px ;
  margin-left: 15px;
  margin-right: 15px;
}